.header {
    height: 120px;
    background-image: linear-gradient(0, #2dbcf5, #3358ff);
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar__title {
    margin-top: 50px;
    font-size: 50px;
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container__work {
    display: block;
    border: 1px solid var(--border-color);
    min-width: 450px;
}

.container__title {
    font-size: 30px;
    padding: 12px 0;
    color: var(--text-color);
    text-align: center;
    margin: 0 12px;
}

.container__items {
    display: flex;
    flex-direction: column;
}

.container__item {
    font-size: 20px;
    padding: 8px;
    margin: 0 12px;
}

.container__checker {
top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.container__name {
    line-height: 20px;
    padding-left: 8px;
}

.container__control {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    min-width: 500px;
}

.container__result {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    min-width: 450px;
}

.container__result-title {
    font-size: 30px;
    padding: 12px 0;
    color: var(--text-color);
    text-align: center;
}

.container__sum {
    display: flex;
    margin: 0 16px;
    justify-content: space-between;
}

.container__sum-item {
    font-size: 20px;
    padding: 8px 0;
    color: var(--text-color);
}



